h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 44px;
  line-height: 140%;
}

h2 {
  font-size: 40px;
  line-height: 140%;
}

h3 {
  font-size: 32px;
  line-height: 140%;
}

h4 {
  font-size: 24px;
  line-height: 140%;
}

h5 {
  font-size: 20px;
  line-height: 140%;
}

h6 {
  font-size: 16px;
  line-height: 140%;
}

.subtitle-l {
  font-size: 16px;
  line-height: 150%;
}

.subtitle-m {
  font-size: 14px;
  line-height: 150%;
}

.subtitle-s {
  font-size: 12px;
  line-height: 140%;
}

.subtitle-sx {
  font-size: 10px;
  line-height: 140%;
}

.body-xl {
  font-size: 20px;
  line-height: 140%;
}

.body-l {
  font-size: 18px;
  line-height: 140%;
}

.body-m {
  font-size: 16px;
  line-height: 150%;
}

.body-s {
  font-size: 14px;
  line-height: 150%;
}

.body-xs {
  font-size: 12px;
  line-height: 150%;
}

.body-xxs {
  font-size: 10px;
  line-height: 140%;
  font-weight: 300;
}

.caption-l {
  font-size: 14px;
  line-height: 140%;
  font-weight: 800;
}

.caption-m {
  font-size: 14px;
  line-height: 140%;
}

.caption-s {
  font-size: 12px;
  line-height: 140%;
}

.label-xs {
  font-size: 10px;
  line-height: 140%;
  font-weight: 600;
}

.label-s {
  font-size: 12px;
  line-height: 140%;
  font-weight: 600;

}

.label-m {
  font-size: 14px;
  line-height: 140%;
  font-weight: bold;
}

.button-xxl {
  font-size: 16px;
  line-height: 140%;
  font-weight: bold;
}

.button-xl {
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
}

.button-l {
  font-size: 14px;
  line-height: 140%;
  font-weight: bold;
}

.button-m {
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
}

.button-s {
  font-size: 10px;
  line-height: 140%;
  font-weight: bold;
}

.button-xs {
  font-size: 10px;
  line-height: 140%;
  font-weight: 500;
}
