.login-header {
  padding: 21px 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-400);
  max-height: 88px;
  .logo {
    background: url("../../../../assets/photo/Logo.svg") no-repeat center center / contain;
    width: 60px;
    height: 45px;
    cursor: pointer;
  }
}
