<div class='h-screen'>
  <div class='login-header'>
    <div class='logo'></div>

    <div class='flex gap-4 h-10'>
      <div class='language'></div>
      <button class='helper'></button>
    </div>
  </div>

  <div class='login-wrapper'>
    <div class='login-container'>
      <div class='login-img'></div>
      <form>
        <div class='login-form'>
          <h5>Login</h5>
          <p class='subtitle-s'>Login to access yourEasyset24  account</p>
          <label for='email'>
            <p class='body-s'>Email</p>
            <input type="text" name="email" id="email">
          </label>
          <label for='password'>
            <p class='body-s'>Password</p>
            <input type="text" name="password" id="password">
          </label>
        </div>
      </form>
    </div>
  </div>
</div>

